body {
  margin: 0;
  padding: 0;
}

.loading {
  font-style: italic;
}

.loaded {
  text-decoration: none;
}

.failed {
  color: red;
}

.caret {
  cursor: pointer;
}

.container {
  width:100%;
  height:100%;
}

.maincontent {
  background-color: silver;
  width:calc(100% - 300px);
  height:100%;
  float:left;
  overflow-x: scroll;
}

.rightpanel {
  background-color: cyan;
  width: 300px;
  position: fixed;
  right: 0;
  height:100%;
  font-size: 7pt;
  overflow-x: scroll;
}

.footer {
  background-color: yellow;
  height: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.cygraph {
  width: 100%;
  height: 100%;
}
